html{
    background-color: black;
    box-sizing: border-box;
}
.container{
    box-sizing: border-box;
    padding: 5px;
    background-color:  #bdffe1;
    width: 100%;
    height: 150px;
}
ul{
    color: aliceblue;
    list-style: none;
}